.home{
    height: 70px;
    width :100%;
    display: flex;
    padding-left: 2rem;
    padding-top: .5rem;
    position: absolute;
    content: "";
    top: 0;
    background-color: transparent;
    position: absolute;
    content: "";
    left: 0;
    top:0;
    
}
.links{
    position: absolute;
    content: "";
    right: 45rem;
    padding:10px;
    font-size: 20px;
    text-align: center;
}


a:nth-of-type(n) {
    margin-left: 50px;
    padding: 5px;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: 2px solid black;
  }